/*Layout da página*/
@import url('https://fonts.googleapis.com/css?family=Roboto|Titillium+Web&display=swap');


/*Incializar a página - reset*/
*{
	padding: 0px;
	margin: 0px;
	border: border-box;
}




/*----------Estrutura--------------*/
.interface {
	
	/*Fatiamento da tela*/
	display: grid;
	grid-template-columns: 200px auto; /*Divide em 2 colunas*/
	grid-row-gap: 10vh;
	
	/*Layout da tela*/
	grid-template-areas: 
		"sidebar header"
		"sidebar main"
		"sidebar footer";

}

.header{
	grid-area: header;
	height: 50vh;
	background-image: linear-gradient(
		to right bottom, 
		rgba(46, 46, 46, 0.3), 
		rgba(0, 0, 0, 0.7)),
		url("background.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;



	box-shadow: 0px 0px 20px rgba(0,0,0,.5);
	position: relative;

}

/*Barra lateral*/
.sidebar{
	font-family: 'Roboto', sans-serif;
	grid-area: sidebar;
	width: 200px;
	height: 100%;

	position: fixed;
	background-color: #313131;
}



.main{
	font-family: 'Roboto', sans-serif;
	grid-area: main;

	/*color: white;*/
	/*background:  rgba(0, 0, 0, 0.9);*/
	/*box-shadow: 0px 0px 10px rgba(0,0,0,.5);*/

	text-align: justify;
	padding: 15px;

	display: grid;
	grid-template-columns: repeat(auto-fit, 500px);



	grid-gap: 30px;

	justify-content: center;
	align-items: center;
	

}

.main-center{
	font-family: 'Roboto', sans-serif;
	grid-area: main;

	/*color: white;*/
	/*background:  rgba(0, 0, 0, 0.9);*/
	/*box-shadow: 0px 0px 10px rgba(0,0,0,.5);*/

	text-align: justify;
	padding: 15px;

	

}

.footer{
	font-family: 'Roboto', sans-serif;
	padding: 20px;
	grid-area: footer;
	text-align: center;
}
/*fim do layout e estrutura da página*/






/*---------Formatação dos elementos-----------*/
/*---Cabeçalho---*/
.text-box{
	font-family: 'Titillium Web', sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.heading-primary{
	color: white;
	text-transform: uppercase;
}

.heading-primary-main{
	display: block;
	font-size: 40px;
	text-align: center;
	letter-spacing: 15px;
}

.heading-primary-sub{
	display: block;
	font-size: 15px;
	text-align: center;
	letter-spacing: 5px;

}
/*---Fim do Cabeçalho---*/


/*---Main---*/
.main-left div#text{
	margin-top: 5vh; 
	color: white;
	background:  #8D0006;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);

	padding: 5vh;

	
}

.main-right div#text{
	margin-top: 5vh; 
	color: white;
	background:  rgba(0, 0, 0, 0.9);
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	padding: 5vh;
}

.main-center div#text{
	margin-top: 5vh;

	color: white;
	background:  rgba(0, 0, 0, 0.9);
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	padding: 5vh;
}


/*---Fim da Main---*/


/*---Menu - Modo Desktop---*/
.sidebar ul{
	position: absolute;
	width: 100%;

	list-style-type: none;
}

.sidebar a{
	display: block;
	color: #E0E0E0;
	
	padding: 20px;


	text-decoration: none;
}

/*efeito quando passa com o mouse por cima*/
.sidebar a:hover{
	background-color: #1E1E1E;

}
/*---Fim do menu Desktop---*/





/*---Menu - Modo Responsivo---*/
/*Barra com botão*/
.menu-bar{
	top: 0px;
	width: 100%;
	height: 50px;

	/*Mantem a barra de menu escondida*/
	display: none;

	padding: 5px;

	position: fixed;
	background-color: #313131;
	
	/*Mantem o botão por cima dos outros elementos*/
	z-index: 1;
}

.menu-button img{
	width: 50px;
}

input#menu-check{
	display: none;
}



.comentario textarea#comment{
	resize: none;
}


/*---Fim do menu responsivo---*/


figure{
	margin: 5px;
	position: relative;
}

figure img{
	width: 100%;
}

figure figcaption{
	position: absolute;
	top: 0px;


	opacity: 0;
	background-color: black;

	width: 100%;
	height:100%;

	transition: .3s;

	font-size: 15px;
}

figure figcaption p{
	margin: 7px;
}

figure figcaption:hover{
	opacity: 1;

}









/*Modo responsivo*/
@media (max-width: 940px){
	/*Aumenta as letras*/
	body{
		font-size: 25px;
	}

	/*Layout em lista*/
	.interface{
		display: grid;
		/*Fatiamento da tela*/
		grid-template-columns:auto; /*Divide em 2 colunas*/

		
		/*Layout da tela*/
		grid-template-areas:
			"header"
			"main"
			"footer";
	}

	/*Cria uma margem por causa da barra superior*/
	header{
		margin-top: 50px; 
	}

	.heading-primary-main{
		font-size: 35px;
		letter-spacing: 1px;
	}

	.heading-primary-sub{
		font-size: 15px;
		letter-spacing: 1px;
	}

	.main{
		grid-template-columns: 1fr;
	}

	/*Exibe a barra superior*/
	.menu-bar{
		display: grid;
	}
	/*Ao apertar no botão irá puxar o menu*/
	input:checked ~ .sidebar{
		transform: translateX(100%);
	}

	/*Menu sidebar*/
	.sidebar{
		font-size: 5vh;
		width: 100%;
		height: 100%;

		/*posiciona o menu para fora da tela*/
		left: -100%;

		position: fixed;
		background-color: rgba(16, 16, 16, .9);
		transition: .3s; /*Efeito de slide*/
		
	}

	.sidebar ul{
	position: absolute;
	top: 60px;
	width: 100%;
	list-style-type: none;
	}
}


@media (max-width: 380px){
	.heading-primary-main{
		font-size: 25px;
	}

	.heading-primary-sub{
		font-size: 10px;
	}

	body{
		font-size: 17px;
	}
}
